.add-option {
    display: flex;
    flex-direction: column;
    padding: $text-size-medium;
}

.add-option__input {
    flex-grow: 1;
    background: $dark-blue;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    color: $off-white;
    //margin-right: $text-size-small;
    margin: 0 0 $text-size-small 0;
    padding: $text-size-small;
}

.add-option__error {
    color: $off-white;
    font-style: italic;
    padding: 0 $text-size-medium;
    margin: $text-size-medium 0 0 0;
}

@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row;
    }

    .add-option__input {
        margin: 0 $text-size-small 0 0;
    }

}