.header {
    background: #20222b;
    margin-bottom: $text-size-medium;
    padding: $text-size-medium 0;
    color: #ffffff;
}

.header__title {
    font-size: $text-size-large;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $text-size-medium;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $text-size-x-large;
    }
}