$font-stack: Arial, Helvetica, sans-serif;
$text-color: #ffffff;

$dark-blue: #333745;
$deep-purple: #8357c5;

$text-size-small: 1.2rem;
$text-size-medium: 1.6rem;
$text-size-large: 3.2rem;
$text-size-x-large: 4.8rem;